.form {
    border-top: 2px solid rgba(255, 255, 255, 0.623);
}

.form__fieldset {
    border: 0;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 50px 35px 50px 35px;
    margin-top: 25px;
    box-shadow: 0px 0px 50px -3px #000000;
}

.form__legend {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(95, 7, 51);
    color: #fff;
    font-size: 20px;
    width: 80%;
    text-align: center;
}

.form__container {
    max-width: 80%;
    margin: auto;
}

.form__container--hidden {
    display: none;
}

.form__container--result {
    display: block;
}

.form__label {
    display: grid;
    grid-template-columns: 150px 1fr;
    font-size: 18px;
    padding: 15px 0;
}

.form__labelText {
    min-width: 150px;
    padding: 10px 0px;
}

.form__field {
    border: 1px solid rgb(172, 172, 172);
    min-width: 192px;
    overflow: auto;
    padding: 0px 10px;
    min-height: 38px;
}

.form__field:hover {
    background-color: rgba(255, 241, 245, 0.336);
}

.form__field:focus {
    background-color: rgba(215, 249, 255, 0.336);
    border: 2px solid rgb(114, 114, 114);
}

.form__field:read-only {
    background-color: rgb(236, 229, 231);
}

.form__rateInformation {
    font-style: italic;
    text-align: center;
    font-size: smaller;
}

@media (max-width: 767px) {
    .form__label {
        grid-template-columns: 1fr;
    }
}