html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    margin: auto;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.mainHeader {
    text-align: center;
    background-color: rgb(95, 7, 51);
    color: #fff;
    padding: 15px;
    margin: 0px;
}

.container {
    margin: 60px auto 100px;
    max-width: 1000px;
    padding: 20px;
}

.information {
    color: #fff;
}

.buttonContainer {
    text-align: center;
}

.button {
    background-color: rgb(95, 7, 51);
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    border: 0;
    width: 80%;
    margin: 40px 0px;
    transition: 0.25s;
}

.button:hover {
    background-color: rgb(99, 10, 72);
    cursor: pointer;
    transform: scale(1.05);
}

.button:active {
    background-color: rgb(187, 53, 82);
}

.button:focus {
    border: 2px solid #fff;
    outline: 2px solid black;
}

.test {
    color: #fff;
}