html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    max-width: 1000px;
    margin: auto;
    background-color: #eee;
    background-image: url("../images/background.jpeg");
    background-size: cover;
}